/* query box */
.datetime-form .date .btn {
  width: 10rem;
  
}
.datetime-form .date span.btn {
  width: 7rem;
  text-align: left;
  background-color: #eee;
  border-color: #ccc;
  color: black;
}
.datetime-form .date span.btn:hover {
	z-index: default;
	cursor: default;
}
.input-group.date {
  margin-bottom: 0.25rem;
}

/* current query */
.current-query {
  margin-bottom: 1rem;
}

/* result */
.query {
  font-weight: bold;
}

.results {
  list-style-type: none;
}
li.result {
  margin-bottom: 2rem;
}
li.result .links {
  display: block;
  margin-bottom: -0.5rem;
}
li.result .title {
  font-size: 18px;
}
li.result .archive, li.result .live {
  font-size: 12px;
}
li.result .archive::before, li.result .live::before {
  content: "[";
}
li.result .archive::after, li.result .live::after {
  content: "]";
}
li.result .meta {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
li.result .meta .uri, li.result .meta time {
  display: flex-item;
}
li.result .meta time::before {
  content: "@";
}
li.result .snippet {
  display: block;
  margin-top: 0.25rem;
}

/* footer */
nav.footer {
  text-align: center;
}
